:root {
  --background: #ffffff;
  --foreground: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #000000;
    --foreground: #ffffff;
  }
}