.header {
    background-color: #313131;
    padding: 0.5rem;
    font-size: clamp(1.2rem, 1.2vw, 1.9rem);
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.searchSection {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: baseline;

}

#searchButton {
    background: transparent;
    border-radius: 50%;
    font-size: clamp(1rem, 1vw, 1.5rem);
}