.header {
    background-color: #313131;
    padding: 0.5rem;
}

#title {
    font-size: clamp(1.1rem, 1.5vw, 3rem);
    font-weight: bold;
    letter-spacing: 0.3em;
}

#location {
    margin-top: 0.5rem;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}

.searchSection {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: baseline;
    gap: 3%;
}